b {
    border-right: 3px solid #29ABE2;
    padding-right: 30px;
}

.contacts-container {
    width: 450px;
    background: white;
    height: calc(100% - 90px);
    margin-top: 90px;
    overflow-y: scroll;
    box-shadow: 1px 1px 6px 1px #a9a9a9 inset;
}

.contacts-board {
    display: flex;
    align-items: start;
    height: 100%;
    position:relative;
}

.content-title {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 50px;
    margin-top: 200px;
}

.view-contact-container{
    display: flex;
    flex-direction: column;

}

.view-contact{
    background-color: red;
    height: 400px;
    width: 708px;
    margin-left: 100px;
}

.new-contact-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid #2A3647;
    background: #2A3647;
    font-size: 21px;
    color: white;
}

.new-contact-div{
    display: flex;
    justify-content: end;
    margin-top: 50px;
}